html,
body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  min-width: 1180px;
  font-size: 14px;
  font-weight: bold;
  color: #132841;
  font-family: PingFangSC-Light, STHeitiSC Light, Microsoft YaHei, serif;
}
p,
h1,
h2,
h3,
h4 {
  margin: 0;
}
p {
  line-height: 1.5;
}
section {
  padding: 10px 0;
}
.container {
  width: 1240px;
  margin: auto;
}
header {
  height: 86px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}
header .logo {
  height: 100%;
  width: 230px;
}
header nav > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}
header nav > ul li {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #132841;
  margin: 0 10px;
  cursor: pointer;
}
header nav > ul li:hover {
  color: #0060cf;
}
header nav > ul li.active {
  background: linear-gradient(to top, #ffffff, rgba(32, 70, 106, 0.6));
}
header img {
  width: 25px;
  height: 25px;
}
header .languageSelection {
  position: relative;
}
header .languageSelection::after {
  content: '';
  background: url(../images/arrow-icon.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  width: 12px;
  height: 7px;
  margin-left: 9px;
}
header .languageSelection ul {
  position: absolute;
  width: 44px;
  border-radius: 10px;
  background: #1a1c20;
  top: 71px;
  left: 5px;
  list-style: none;
  display: none;
  flex-direction: column;
  z-index: 10;
  padding: 0;
}
header .languageSelection ul li {
  width: auto;
  padding: 7px;
}
header .languageSelection ul li img:hover {
  opacity: 0.75;
}
header .languageSelection ul.show {
  display: flex;
}
footer {
  background: #282e33;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: #9b9b9b;
}
footer .version {
  color: #505050;
}
.carousel {
  padding: 0;
}
.carousel .banner-list {
  height: 25vw;
  min-height: 285px;
  position: relative;
}
.carousel .banner-list a {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.5s ease;
}
.carousel .banner-list a.show {
  opacity: 1;
}
.carousel .banner-list a img {
  width: 100%;
}
.carousel .point {
  display: flex;
  padding-left: 50px;
}
.carousel .point > div {
  background: #9b9b9b;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  margin: 0 7px;
  cursor: pointer;
}
.carousel .point > div.show {
  background: #edaa00;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-top: 30px;
}
.description .hasIcon {
  margin: 40px;
  display: flex;
  align-items: center;
  color: #4a4a4a;
}
.description .hasIcon .icon {
  width: 35px;
  height: 60px;
  margin: 0 23px;
}
.description .hasIcon .col {
  display: flex;
  flex-direction: column;
  width: 370px;
}
.description .hasIcon .col .title {
  font-size: 24px;
  font-weight: bolder;
}
.description .hasIcon .col p {
  font-weight: 200;
  font-size: 14px;
}
.game {
  background: url(../images/game/game-bg.png) no-repeat;
  background-size: 100% 100%;
  padding: 30 0;
}
.game .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game .container a {
  margin: 10px;
  position: relative;
  font-size: 24px;
  color: #ff6300;
}
.game .container a img {
  width: 342px;
  height: 205px;
}
.game .container a .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(12, 12, 15, 0.9);
}
.game .container a .cover i {
  background: #ff6300;
  border-radius: 50%;
  font-size: 20px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin: 0 14px;
}
.game .container a:not(.comming):hover .cover {
  display: flex;
}
